.stuffpost_paginatinonarea {
    display: inline;
    float: left;
    padding: 0 15px;
    width: 100%;
}
.newstuff_pagnav{text-align:left}
.newstuff_pagnav li{display:inline-block}
.newstuff_pagnav li a{display:inline-block; background:none repeat scroll 0 0 #333; border-radius:5px; color:white; margin:0 2px 0 0; padding:10px 15px; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.newstuff_pagnav li a:hover, .newstuff_pagnav li a:focus, .newstuff_pagnav li a.active_page{background-color:#ffd62c; outline:none}